<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Great, let's play a game!</h1>

<form action="/madlib">
  Give me a person: <input type="text" name="person"><br>
  Pick their entourage:   <input type="checkbox" name="animal" value="dog">Dog
  <input type="checkbox" name="animal" value="cat" >Cat
  <input type="checkbox" name="animal" value="hedgehog">Hedgehog
  <input type="checkbox" name="animal" value="yak">Yak
  <input type="checkbox" name="animal" value="coyote">Coyote
  <br>
  Give me a color: <select type="text" name="color">
    <option value="#DFBB80">Definitely Not Tan</option>
    <option value="#D17958">Salmon on a Tropical Cruise</option>
    <option value="#535A4B">Oregon Peatmoss</option>
    <option value="#859871">Scottish Peatmoss</option>
    <option value="yellow">Black like the Night</option>
    </select><br>
  Give me a noun: <input type="text" name="noun"><br>
  Give me an adjective: <input type="text" name="adjective"><br>
  <input type="submit">
</form>

</body>
</html>
