<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Great, let's play a game!</h1>

<form action="/madlib">
  Give me a person: <input type="text" name="person"><br>
  Give me a color: <select type="text" name="color">
    <option value="aliceblue">Alice blue</option>
    <option value="bisque">Bisque</option>
    <option value="papayawhip">Papaya whip</option>
    <option value="deeppink">Deep pink</option>
    <option value="lightseagreen">Black like the night</option>
    </select><br>
  Give me a noun: <input type="text" name="noun"><br>
  Give me an adjective: <input type="text" name="adjective"><br>
  <input type="submit">
</form>

</body>
</html>
