<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <style>
    body {
    width: 80%;
    margin: 0 auto;
    background-color: {{ color }};
    }
  </style>

</head>
<body>

<h1>Here is your story!</h1>


    <p>Once upon a time, there was a swashbuckling Jungian named {{ person }}. 
        The year was 1778, and {{ person }} was searching for a great {{ color }} 
        {{ noun }}. Alas, {{ person }} was too {{ adjective }}, and never found the 
        {{ noun }}, nor reached Halifax. 
    </p>


</body>
</html>
