<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link type = "text/css" rel = "stylesheet" href = "../static/madlibs.css" >
</head>
<body style="background-color:{{ color }}">
  
<h1>Here is your story!</h1>


    <p>Once upon a time, there was a swashbuckling Jungian named {{ person }}. 
        The year was 1778, and {{ person }} was searching for a great {{ color }} 
        {{ noun }} with his trusty {{ animals }}. Alas, {{ person }} was too {{ adjective }}, and never found the 
        {{ noun }}, nor reached Halifax. 
    </p>


</body>
</html>
